<div class="container borderMargin">
    <div class="row flex-column">
        <div class="col">
            <h1>Latest price {{car.currentBid}}$</h1>
        </div>
        <div class="col">
            Car Data
            <ul>
                <li>{{car.carNumber}}</li>
                <li>{{car.carName}}</li>
                <li>{{car.basePrice}}</li>
            </ul>
        </div>
        <div class="col">
            <button (click)="setBidePrice()">Increase bid price(+{{increseLimit}}) </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="{{car.carImage}}">
        </div>        
    </div>
</div>

    
