<div class="container borderMargin">
    <div class="row">
        <div class="col">
            <h1>Latest price {{currentPrice}}$</h1>
        </div>
        <div class="col">
            <button (click)="setBidePrice()">Increase bid price(+{{increseLimit}}) </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="https://images.unsplash.com/photo-1605559424843-9e4c228bf1c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNhcnN8ZW58MHx8MHx8&w=1000&q=80">
        </div>
        <div class="col">
            Car Data
        </div>
    </div>
</div>

    
