<div class="container">
    <div class="row">
        <div class="col">
            <app-auction [carid]="12345"></app-auction>
        </div>
        <div class="col">
            <app-auction [carid]="23415"></app-auction>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <app-auction [carid]="32415"></app-auction>
        </div>
        <div class="col">
            <app-auction [carid]="43215"></app-auction>
        </div>
    </div>
</div>