<div class="container">
    <form [formGroup]="loginForm">  
        <div class="container">   
            <label>Email : </label>   
            <input type="text" formControlName="email" placeholder="Enter Email" name="email" required>  
        
            <span *ngIf="isValid('email')" class="error">Entered email is invalid</span>
            <br>
            <label>Password : </label>   
            <input type="password" formControlName="password" placeholder="Enter Password" name="password" required>  
            <span *ngIf="isValid('password')" class="error">Please enter valid password</span>
        <br>
            <button type="submit" (click)="login()">Login</button>   
            <input type="checkbox" checked="checked"> Remember me   
            <button type="button" class="cancelbtn"> Cancel</button>
        </div>   
    </form>     
</div>